<div class="del-warning">
    <div class="del-box">
        <h1>warning!!!!</h1>
        <p>did you really want to delete this collective activity?</p>
        <div class="actions">
            <button onclick="actionNo()">no</button>
            <button class="action-yes">yes</button>
        </div>
    </div>
</div>