
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Murukali Report</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" href="/logo.png">
    <link rel="shortcut icon" href="/logo2.jpg" type="image/x-icon">
    
</head>
